@import '../../../assets/css/colors.scss';
@import '../../../assets/css/mixin.scss';

.dashboard__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    @include flex__centered;
    padding: 20px;
    border: 1px solid $color-tahunaSands;
    border-radius: 5px;

    &:hover {
        .dashboard__item-line--delete {
            display: block;
        }
    }
}

.dashboard__item-line {
    padding-bottom: 5px;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.dashboard__item-line--title {
    font-weight: bold;
}

.dashboard__item-line--delete {
    display: none;
    position: absolute;
    bottom: 3px;
    cursor: pointer;
    color: $color-cinnabar;
}