@import '../../assets/css/mixin.scss';

.add {
    display: flex;
    @include flex__centered;
}

.add__item {
    display: inline-flex;
    min-height: 30px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.add__item--input {
    border: 0;
    outline: 0;
}

.add__item--btn {
    @include flex__centered;
    background: #ffffff;
    cursor: pointer;
}