@import './assets/css/colors.scss';
@import './assets/css/mixin.scss';

.main {
    width: 100%;
    height: 100%;
    color: $color-mineShaft;
    background-color: $color-tahunaSands;
}

.main__title {
    display: flex;
    @include flex__centered;
    padding: 20px 0;
    margin: 0;
}